.container{
    height: 20vh;
    text-align: center;
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px;   
    background-color: #FF8E00;

}

.header{
    height: 55%;
    width: 100%; 
}

.center{
    display: inline-block;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
}
ul li a{
    color: black;
    letter-spacing: 0.1rem;
    text-decoration: none;
}
ul li a:hover{
    color:white
}

ul{
    padding: 65px;
}

.seach{
    margin-top: 2%;
}
input{
    border-radius: 20px;
    width: 70%;
    height: 3rem;
}
.fa-solid fa-magnifying-glass{
    color: red;
    z-index: 1;
}

.logo img{
    height: 15%;
    width: 12%;
    float: left;
    margin-top: -13%;
    margin-left: 2%;
    border-radius: 50%;
    border: #FF8E00 solid 10px;
}



