<div class="container">
    <div class="header center">
        <div class="ul center">
            <div class="seach">
                <i class="fa-brands fa-searchengin"></i>
                <input type="search" name="" id="">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <ul>
                <li><a routerLink="/client">Catalogue</a></li>
                <li><a href="#">MenuBurger</a></li>
                <li><a href="#">Burger</a></li>
                <li><a href="#">Connexion</a></li>
                <li><a href="#">Créer Compte</a></li>
            </ul>
        </div> 
    </div>
    <div class="logo">
        <img src="assets/image/burger.png" alt="">
    </div>
   
</div>
       