.contain{
    height: 20vh;
    text-align: center;
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px;   
    background-color: #FF8E00;
    margin-top: 3%;
    box-sizing: border-box;
}

.header{
    height: 55%;
    width: 100%; 
    box-sizing: border-box;

}

.center{
    display: inline-block;
    justify-content: center;
}

ul li{
    list-style-type: none;
    display: inline-block;
    justify-content: space-between;
    font-size: 1.5rem;
    padding:10px;
}
ul li a{
    color: black;
    letter-spacing: 0.1rem;
    text-decoration: none;

}
ul li a:hover{
    color:white
}

ul{
    padding: 40px;
}

.seach{
    margin-top: 2%;
}
input{
    border-radius: 20px;
    width: 70%;
    height: 3rem;
}

.logo img{
    height: 8%;
    width: 10%;
    float: left;
    margin-top: -10%;
    margin-left: 8%;
    border-radius: 50%;
    border: #FF8E00 solid 10px;
}

.panier img{
    height: 10%;
    width: 8%;
    float: right;
    margin-top: -9%;
}

input[type="search i"]{
    height: 20rem
}

.recherche{
    height: 20%;
}



