<div class="contain">
    <div class="header center">
        <div class="ul center">
            <div class="seach">
                <input type="search" name="" id="" >  
            </div>
            <ul>
                <!-- <button type="button" class="btn btn-outline-primary">Primary</button> -->

                <li><button  (click)="filterProduct('catalogue')" class="btn btn-outline-dark">Catalogue</button></li>
                <li><button (click)="filterProduct('menu')" class="btn btn-outline-dark">MenuBurger</button></li>
                <li><button (click)="filterProduct('burger')" class="btn btn-outline-dark">Burger</button></li>
                <li><button type="button" class="btn btn-outline-dark">Connexion</button></li>
                <li><button type="button" class="btn btn-outline-dark">Créer compte</button></li>
            </ul>
        </div> 
    </div>
    <div class="logo">
        <img src="assets/image/burger.png" alt="">
    </div>
   <div class="panier">
        <a routerLink="/client/panier"> <img  src="assets/image/panier.png" alt="" srcset=""> </a>
   </div>
</div>
       