<!-- {{produits.id|json}} -->
<!-- {{produits.tailleBoisson[2].id|json}} -->
{{portionFrites|json}}

<abs-header></abs-header>
<div class="contains">
  <div class="details">
    <div class="dtl1">
      <div class="log">
        <h4>{{produits?.produit.nom}} </h4>
        <p>{{produits?.produit.description}}</p>
      </div>
      <div class="desc">
        <img src="data:image/png;base64,{{produits?.produit.imageBlob}}" alt="">
        <h4>{{produits?.produit.prix}}F</h4>
      </div>
      
    </div>

    <div class="dtl2">
        <div class="boissons">
          <h4>Boisson GM</h4>
          <div class="card" style="width: 8rem; height: 8rem; display: flex; flex-wrap: wrap; gap: 25%;">

            <ng-container *ngFor=" let tailleBoisson of produits.tailleBoisson">
              <img  class="card-img-top" src="data:image/png;base64,{{produits?.tailleBoisson[1]?.boissonTailleBoissons[0]?.boisson.imageBlob}}">
              <div> <input type="checkbox" name="" id="" style="position:absolute; margin-left:-20%; top: 0;"> </div>
              <input [id]=" 'input'+produits.tailleBoisson[1].id" (keyup)="valid(produits.tailleBoisson[1].id,10)" type="number" placeholder="1"  min="1" max="10">
              <span [id]=" 'erreur'+produits.tailleBoisson[1].id "></span>
              <h6 class="nboisson">{{produits?.tailleBoisson[1]?.boissonTailleBoissons[0]?.boisson.nom}}</h6>
              <h4>:{{produits.tailleBoisson[1].libelle}}</h4>
              <h5>{{produits?.tailleBoisson[1]?.boissonTailleBoissons[0]?.boisson.prix}} FCFA</h5>
            </ng-container>
          
          </div>
        </div>

        <div class="boisson-GM">
          <h4>boissons PM</h4>
          <div class="card" style="width: 8rem; height: 8rem; display: flex; flex-wrap: wrap; gap: 25%;">
            <ng-container *ngFor=" let boissons of produits.produit.menuTailleBoisson[0].tailleBoison.boissonTailleBoissons">
              <img class="card-img-top" src="data:image/png;base64,{{produits?.tailleBoisson[2]?.boissonTailleBoissons[0]?.boisson.imageBlob}}">
              <h6 class="n1boisson">{{produits?.tailleBoisson[2]?.boissonTailleBoissons[0]?.boisson.nom}}</h6>
              <h4>:{{produits.tailleBoisson[2].libelle}}</h4>
              <h5>{{produits?.tailleBoisson[2]?.boissonTailleBoissons[0]?.boisson.prix}} FCFA</h5>
              <div class="inp2"> <input type="checkbox" name="" id="" style="position:absolute; margin-left:-20%; top: 0;"> </div>
              <input [id]=" 'input'+produits.tailleBoisson[2].id " (keyup)="valid(produits.tailleBoisson[2].id,10)" type="number" placeholder="1"  min="1" max="10">
            </ng-container>
          </div>
        </div>

        <div class="boisson-GM">
          <h4>Boissons</h4>
          <div class="card" style="width: 8rem; height: 8rem; display: flex; flex-wrap: wrap; gap: 25%;">
            <ng-container *ngFor=" let boissons of produits.produit.menuTailleBoisson[0].tailleBoison.boissonTailleBoissons">
              <img class="card-img-top" src="data:image/png;base64,{{produits?.tailleBoisson[2]?.boissonTailleBoissons[0]?.boisson.imageBlob}}">
              <h6 class="n1boisson">{{produits?.tailleBoisson[2]?.boissonTailleBoissons[0]?.boisson.nom}}</h6>
              <h4>:{{produits.tailleBoisson[2].libelle}}</h4>
              <h5>{{produits?.tailleBoisson[2]?.boissonTailleBoissons[0]?.boisson.prix}} FCFA</h5>
              <div class="inp1"> <input type="checkbox" name="" id="" style="position:absolute; margin-left:-20%; top: 0;"> </div>
              <input [id]=" 'input'+ produits.tailleBoisson[2].id " (keyup)="valid(produits.tailleBoisson[2].id,10)" type="number" placeholder="1"  min="1" max="10">
<!-- <abs-nbe-boisson></abs-nbe-boisson> -->
            </ng-container>
          </div>
        </div>

        <div class="frites">
          <h4>Portions Frites Double</h4>

          <div class="card" style="width: 8rem; height: 8rem; display: flex; flex-wrap: wrap; gap: 25%;">
            <ng-container *ngFor=" let portionFrites of produits.portionFrites">
              <div><img class="card-img-top" src="data:image/png;base64,{{portionFrites.imageBlob}}" ></div>
              <h6 class="n2boisson">{{portionFrites.nom}}</h6>
              <h3 class="prixboisson">{{portionFrites.prix}} F</h3>
              <div class="inp"> <input type="checkbox" name="" id="" style="position:absolute; margin-left:-20%; top: 0;"> </div>
              <!-- <abs-nbe-boisson></abs-nbe-boisson> -->
          </ng-container>            
          </div>
        </div>

        
      </div>
  </div>

  <div class="dtl3">
      <div class="input-dl3">

        <ng-container *ngIf="produits.produit['@type']=='Menu'">
          <div>
            <div class="catalogue">
              
            </div>
          </div>
        </ng-container>
        <!-- <input class="form-control" type="number" placeholder="Quantite burger" min="1" max="10"> -->
      <div class="prix">
        <h3>Total: 20 000 FCFA</h3> <br>
        <button class="btn btn btn-outline">Ajouter au panier </button> 
      </div>
    </div>
  </div>

</div>
<abs-footer></abs-footer>
