<!-- {{produits.produit|json}} -->

<abs-header></abs-header>

<div class="contains">
  <div class="details">
    <div class="dtl1">
      <div class="log">
        <h4>{{produits?.produit.nom}}</h4>
        <p>{{produits?.produit.description}}</p>
      </div>
      <div class="desc">
      <img src="data:image/png;base64,{{produits?.produit.imageBlob}}" alt="">
      <h4>{{produits?.produit.prix}}</h4>
      </div>
      <!-- <p>Burger Royal</p> -->
    </div>
      <div class="dtl2">
        <!-- <h2>Complements</h2> -->
        <div class="boissons">
          <div class="card" style="width: 8rem; height: 8rem; display: flex; flex-wrap: wrap; gap: 25%;">
            <!-- <abs-select-boisson></abs-select-boisson> -->
    
            <!-- <div> <input type="checkbox" name="" id=""> </div> -->
          </div>
        </div>
        <div class="frites">
          <div class="card" style="width: 8rem; height: 8rem; display: flex; flex-wrap: wrap; gap: 25%;">
            <!--<img class="card-img-top" src="assets/image/frite.png" alt="Card image cap"> -->

          </div>
        </div>
      </div>
    
  </div>
<div class="dtl3">
  <input class="form-control" type="number" placeholder="Quantite burger">
  <input class="form-control" type="number" placeholder="Quantite boisson" readonly>
  <input class="form-control" type="number" placeholder="Quantite portion frite" readonly>
    <div class="prix">
      <h3>Total: 20 000 FCFA</h3>    
    </div>

</div>
</div>

<abs-footer></abs-footer>
