<abs-header></abs-header>

<div class="contains">
  <div class="details">
    <div class="dtl1">
      <div class="log">
        <h4>Burger Royal</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora praesentium, vel corporis exercitationem, asperiores sequi enim, numquam quisquam quidem nobis earum temporibus. Vel deserunt nostrum deleniti amet minima porro sint!</p>
      </div>
      <div class="desc">
      <img src="assets/image/cv.png/" alt="">
      <h4>4000 FCFA</h4>
      </div>
      <!-- <p>Burger Royal</p> -->
    </div>
      <div class="dtl2">
        <!-- <h2>Complements</h2> -->
        <div class="boissons">
          <div class="card" style="width: 8rem; height: 8rem; display: flex; flex-wrap: wrap; gap: 25%;">
            <img class="card-img-top" src="assets/image/fanta.png" alt="Card image cap">
            <img class="card-img-top" src="assets/image/coca.png" alt="Card image cap">
            <img class="card-img-top" src="assets/image/sweppes.png" alt="Card image cap">
            <div> <input type="checkbox" name="" id=""> </div>
          </div>
        </div>
        <div class="frites">
          <div class="card" style="width: 8rem; height: 8rem; display: flex; flex-wrap: wrap; gap: 25%;">
            <img class="card-img-top" src="assets/image/frite.png" alt="Card image cap">
            <img class="card-img-top" src="assets/image/frite.png" alt="Card image cap">
            <img class="card-img-top" src="assets/image/frite.png" alt="Card image cap">
            <div> <input type="checkbox" name="" id=""> </div>
          </div>
        </div>
      </div>
    
  </div>
<div class="dtl3">
  <input class="form-control" type="number" placeholder="Quantite burger">
  <input class="form-control" type="number" placeholder="Quantite boisson" readonly>
  <input class="form-control" type="number" placeholder="Quantite portion frite" readonly>
    <div class="prix">
      <h3>Total: 20 000 FCFA</h3>    
    </div>

</div>
</div>

<abs-footer></abs-footer>
