<!-- {{produits|json}} -->
<!-- {{produits.produit.menuTailleBoisson[0]|json}} -->

<div
  *ngIf="tailleBoisson"
  class="card border border-0"
  style="width: 8rem; height: 8rem; display: flex; flex-wrap: wrap; gap: 25%"
>
  <div>
    <img
      class="card-img-top"
      src="data:image/png;base64,{{ tailleBoisson.imageBlob }}"
    />
    <h6 class="n2boisson">{{tailleBoisson.nom }}</h6>
  <h3 class="prixboisson">{{tailleBoisson.prix }} F</h3>
    <input
    #quantite
    class="inputGM"
    (change)="changeQteBoisson(tailleBoisson.id, quantite.value)"
    [id]="'input' + tailleBoisson.id"
    (keyup)="valid(tailleBoisson.id, 10)"
    type="number"
    placeholder="1"
    min="1"
    max="10"
  />
  </div>
  <div>
    <input
      type="checkbox"
      (change)="addBoisson(tailleBoisson)"
      name=""
      id="{{ tailleBoisson.id }}"
      style="position: absolute; margin-left: -20%; top: 0"
    />
  </div>
  
  <span
    class="spanGM"
    [id]="'erreur' + tailleBoisson.id"
    style="margin-left: -290%; color: red"
  ></span>
  
</div>


<div
  *ngIf="portionFrites"
  class="card"
  style="width: 8rem; height: 8rem; display: flex; flex-wrap: wrap; gap: 25%"
>
  <div>
    <img
      class="card-img-top"
      src="data:image/png;base64,{{ portionFrites.imageBlob }}"
    />
  </div>
  <h6 class="n2firte">{{ portionFrites.nom }}</h6>
  <h3 class="prixfrite">{{ portionFrites.prix }} F</h3>
  <div class="inp">
    <input
      type="checkbox"
      (change)="addBoisson(portionFrites)"
      name=""
      id="{{portionFrites.id}}"
      style="position: absolute; margin-left: -20%; top: 0"
    />
  </div>
  <input 
      #quantite
      class="InpFrite"
      (change)="changeQteBoisson(portionFrites.id, quantite.value)"
      type="number" 
      name="" id="" 
  />
</div>
