
    <!-- <div class="card">
        <div class="card-image"><img routerLink="/client/details/1" [src]="produit?.image" alt="" ></div>
            <div class="card-text">
                <h2>{{produit?.titre}}</h2>
                <p>{{produit?.description}}</p>
            </div>    
    </div> -->
   <!-- <div class="container"> -->
    <div class="card" style="width: 18rem;">
        <img routerLink="/client/details/1" [src]="produits?.image" class="card-img-top" alt="..." height="50%">
        <div class="card-body">
          <h5 class="card-title">{{produits?.prix}}</h5>
          <h5 class="card-title">{{produits?.nom}}</h5>
          <p class="card-text">{{produits?.description}}</p>
          <a href="#" class="btn">Ajouter au panier</a>
        </div>
      </div>
   <!-- </div> -->
    


      <!-- <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="..." [src]="produit?.image" alt="" >
        <div class="card-body">
          <h5 class="card-title">{{produit?.titre}}</h5>
          <p class="card-text">{{produit?.description}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> -->