<div class="card-container">
    <div class="card">
        <div class="card-image"><img src="assets/image/cv.png" alt="" height="100%"></div>
        <div class="card-text">
            <!-- <div class="date">4 days ago</div> -->
            <h2>Post One</h2>
            <p>Lorem ipsum qjhdqhkqs skjk</p>
        </div>    
    </div>

    <div class="card">
        <div class="card-image"><img src="assets/image/cv.png" alt="" height="100%"></div>
        <div class="card-text">
            <!-- <div class="date">4 days ago</div> -->
            <h2>Post One</h2>
            <p>Lorem ipsum</p>
        </div>    
    </div>

    <div class="card">
        <div class="card-image"><img src="assets/image/cv.png" alt="" height="100%"></div>
        <div class="card-text">
            <!-- <div class="date">4 days ago</div> -->
            <h2>Post One</h2>
            <p>Lorem ipsum dolor sit amet</p>
        </div>    
    </div>

    <!-- <div class="card">
        <div class="card-image"><img src="assets/image/cv.png" alt=""></div>
        <div class="card-text">
            <div class="date">4 days ago</div>
            <h2>Post One</h2>
            <p>Lorem ipsum</p>
        </div>    
    </div> -->

    <!-- <div class="card">
        <div class="card-image"><img src="assets/image/cv.png" alt=""></div>
        <div class="card-text">
            <div class="date">4 days ago</div>
            <h2>Post One</h2>
            <p>Lorem ipsum</p>
        </div>    
    </div> -->
    
<!-- </div> -->

 <!-- <div class="card-stats"> -->
        <!-- <div class="stat">
            <div class="value">4m</div>
            <div class="type">read</div>
        </div>
        <div class="stat">
            <div class="value">5123</div>
            <div class="type">views</div>
        </div>
        <div class="stat">
            <div class="value">32</div>
            <div class="type">comments</div>
        </div> -->
    <!-- </div> -->

