<footer>
    <div class="social-icons-container">
        <a  href="" class="social-icon"> <img src="assets/image/Facebook_f_logo_(2019).svg.png" width="100%" height="100%" alt=""> </a>
        <a href="" class="social-icon"><img src="assets/image/Instagram_icon.png.webp" width="100%" height="100%" alt=""></a>
        <a href="" class="social-icon"><img src="assets/image/Twitter_Bird.svg" width="100%" height="100%"></a>
        <a href="" class="social-icon"><img src="assets/image/LinkedIn_logo_initials.png" width="100%" height="100%" alt=""></a>
    </div>
    <ul class="footer-menu-container">
        <li class="menu-item">Legal</li>
        <li class="menu-item">Cookies</li>
        <li class="menu-item">Privacy</li>
        <li class="menu-item">Shipping</li>
        <li class="menu-item">Refounds</li>
    </ul>
    <span class="copyright">&copy;2022, Krey Academy, All rights reserved.</span>
</footer>